@using Microsoft.AspNetCore.Http;
@using Assignment2.Models;

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    @{
        var user = (User)ViewData["user"];
    }
</head>

<body>
    <nav class="navbar navbar-default" style="background-color:sandybrown;">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="margin-left:5px; color: white;" href="/">Assignment 2</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    @if (user != null)
                    {
                        <li><a style="color:white;">Welcome, @user.FirstName @user.LastName!</a></li>
                        @if (user.RoleId == 2)
                        {
                            <li><a class="navbar-right" style="color: white;" href="/Home/AddBlogPost">Add Blog</a></li>

                        }
 
                        
                        <li><a class="navbar-right" style="color: white;" href="/Home/Logout">Logout</a></li>
                    }
                    else
                    {
                        <li><a class="navbar-right" style="color: white;" href="/Home/Register">Register</a></li>
                        <li><a class="navbar-right" style="color: white;" href="/Home/LogIn">Login</a></li>
                    }
                </ul>

            </div>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

    <br /><br />
    <br /><br />

    <footer class="text-left">
        <div class="container">
            <br />
            <br />
            © 2019 - Assignment 2<br />
            © Name        : Shubham Kumar Ujinwal<br />
            © Email       : ujin0001@algonquinlive.com<br />
            © Student no. : 040885893

        </div>
    </footer>
    <br /><br />
</body>
</html>
